<% layout('/layouts/boilerplate') -%>
<div class="btn-group mt-3 d-flex justify-center align-ceneter" role="group">
  <button type="button" class="btn btn-secondary m-1" id="toggle">Admin <i class="fa-solid fa-arrow-right-arrow-left"></i> Posts</button>
</div>
<div class="row admin-page">
  <div class="admin">
    <% if (currUser.type === "Admin") { %>
      <h3 class="text-center">Verification Portal</h3>
      <% if (Users.length) { %>
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 row-cols-1 mt-3">
          <% Users.forEach(user => { %>
            <% if (user.status === "Not Verified" && user.type !== "Admin") { %>
              <div class="card m-1" style="width: 540px;">
                <div class="row g-0 p-3">
                  <div class="col-md-4">
                    <img src="<%= user.idCard %>" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><%= user.type %> Verification</h5>
                      <p class="card-text">Name: <%= user.name %></p>
                      <p class="card-text">Username: <%= user.username %></p>
                      <p class="card-text">Email: <%= user.email %></p>
                      <p class="card-text"><%= user.branch %> , <%= user.year %> Year</p>
                    </div>
                  </div>
                </div>
                <div class="row p-3">
                  <form action="/<%= user._id %>" method="post" class="col-md-4">
                    <input type="hidden" name="status" value="Verified">
                    <button class="btn btn-success add-btn mt-1">Verify</button>
                  </form>
                  <form action="/<%= user._id %>?_method=DELETE" method="post" class="col-md-4">
                    <input type="hidden" name="status" value="Not Verified">
                    <button class="btn btn-dark del-btn mt-1">Reject</button>
                  </form>
                </div>
              </div>
            <% } %>
          <% }) %>
        </div>
      <% } else { %>
        <p class="text-center mt-3">No verifications pending.</p>
      <% } %>
    <% } %>
  </div>
  
  
  <div class="posts d-none">
    <h3 class="text-center">Posts</h3>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1 g-6 mt-3">
      <% if (allPosts.length > 0) { %>
        <% allPosts.forEach(post => { %>
          <div class="card col listing-card pt-3" onclick="location.href='/posts/<%= post._id%>'">
            <% if (post.image) { %>
              <img src="<%= post.image %>" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-btns">
                  <form class="col-lg-6 col-md-8 needs-validation" action="/posts/<%= post._id %>/like" method="post" novalidate>
                    <input type="hidden" name="like" value="on">
                    <% if (post.like.indexOf(currUser._id) === -1) { %>
                      <button class="btn" type="submit">
                        <span><%= post.like.length %></span>
                        <i class="fa-regular fa-thumbs-up col-1"></i> <!-- User has liked the post -->
                      </button>
                      <span><%= post.comments.length %></span>
                      <span><i class="fa-regular fa-comment col-1"></i></span>
                  <% } else { %>
                      <button class="btn" type="submit">
                        <span><%= post.like.length %></span>
                        <i class="fa-solid fa-thumbs-up col-1"></i> <!-- User has not liked the post -->
                      </button>
                      <span><%= post.comments.length %></span>
                      <span><i class="fa-regular fa-comment col-1"></i></span>
                  <% } %>
                  </form>
                </p>
              </div>
            <% } else { %>
              <div class="col pt-3">
                <div class="card-body">
                  <h5 class="card-title"><%= post.title %></h5>
                  <div class="card-btns">
                    <form class="col-lg-6 col-md-8 needs-validation" action="/posts/<%= post._id %>/like" method="post" novalidate>
                      <input type="hidden" name="like" value="on">
                      <% if (post.like.indexOf(currUser._id) === -1) { %>
                        <button class="btn" type="submit">
                          <span><%= post.like.length %></span>
                          <i class="fa-regular fa-thumbs-up col-1"></i> <!-- User has liked the post -->
                        </button>
                        <span><%= post.comments.length %></span>
                        <span><i class="fa-regular fa-comment col-1"></i></span>
                    <% } else { %>
                        <button class="btn" type="submit">
                          <span><%= post.like.length %></span>
                          <i class="fa-solid fa-thumbs-up col-1"></i> <!-- User has not liked the post -->
                        </button>
                        <span><%= post.comments.length %></span>
                        <span><i class="fa-regular fa-comment col-1"></i></span>
                    <% } %>
                    </form>
                  </div>
  
                </div>
              </div>
            <% } %>
          </div>
        <% }) %>
      <% } else { %>
        <div class="alert alert-info" role="alert">
          No posts available.
        </div>
      <% } %>
    </div>
  </div>
</div>
